.vs
.vscode
CMakeFiles
Debug
raytracer.dir
Release
x64
x86
*.vcxproj
*.filters
*.user
cmake_install.cmake
*.sln
*.dll
CMakeCache.txt
external/include/*.h
external/include/glm
external/lib
*.out
Voxel
Makefile